.userList {
  flex: 4;
  padding-top: 0%;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: red;
    cursor: pointer;
}
/* .userAddButton {
  display: flex;
  justify-content: space-between;
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  padding-bottom: 5%;
} */
.MuiDataGrid-root {
  flex: 1;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid rgba(224, 224, 224, 1);
  height: 100%;
  display: flex;
  outline: none;
  position: relative;
  font-size: 0.875rem;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 4px;
  flex-direction: column;
  letter-spacing: 0.01071em;
  padding-bottom: 20%;
}